<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia do Gamer das Galáxias</title>
    <link rel="icon" type="image/x-icon" href="./img/icone.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header class="topo">
        <div class="areaimg">
            <img src="./img/alien.png"
                alt="Alien do Guia do Gamer das Galáxias"
                width="150"
                onclick="window.location.href='index.html'">
        </div>
        <div class="logo">
            <h1>Guia do Gamer das Galáxias</h1>
        </div>
        <div class="buscar">
            <input type="text"
                placeholder="Pesquisar jogo, tutorial ou guia...">
            <button>Buscar</button>
        </div>
    </header>

<main>
    <article>
        <h1>A História do Café</h1>
        <p>O café é uma das bebidas mais consumidas no mundo...</p>
    </article>

    <aside>
        <h3>Curiosidade</h3>
        <p>O Brasil é o maior produtor de café do mundo.</p>
    </aside>
</main>


    
    <footer style="color: yellow;">

        <a href="https://www.disneyplus.com/" target="_blank">
            <img src="./img/disney.svg" alt="Disney+">
            <p>Disney+</p>
        </a>

        <a href="https://www.linkedin.com/" target="_blank">
            <img src="./img/linkedin.svg" alt="LinkedIn">
            <p>LinkedIn</p>
        </a>

        <a href="https://youtube.com" target="_blank">
            <img src="./img/youtube.svg" alt="YouTube">
            <p>YouTube</p>
        </a>

    </footer>


    <footer class="copyright">
        <p>
            © 2026 Guia do Gamer das Galáxias.
            Algumas imagens utilizadas neste site
            pertencem aos seus respectivos autores
            e são usadas apenas para fins ilustrativos,
            informativos ou sob licença apropriada.

            Caso haja qualquer questão relacionada
            a direitos autorais, entre em contato
            para revisão ou remoção do conteúdo.
        </p>
    </footer>


    
</body>
</html>